html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}



ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

h2 {
    font-size: 140%;
}

p {
    p {
        padding: 0 0 20px 0;
        line-height: 1.7em;
    }
}

body {
    color: #2f3035;
    font-family: 'SFUIDisplay-Regular', sans-serif;
    font-size: 24px;
    line-height: 24px;
    background-color: #fff;
    font-weight: 400px;

}

.container {
    max-width: 1200;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
    transform: translate(19px, -89px);
    position: sticky;

}



.menu__item+.menu__item {
    padding-left: 50px;
}

.logo {
    position: absolute;
    right: 400px;
    top: -31px;
}


.header__box {
    display: flex;
    width: 90%;

}

button {
    margin: 20px;
    outline: none;
}

.header__box2 {
    display: flex;

}

.header__adress {
    font-family: 'SFProDisplay-BoldItalic', sans-serif;
    position: relative;
    transform: translate(600px, -160px);
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 6px;
    background: transparent;
    transition: all 0.3s ease;
    display: inline-block;


}


.btn-2 {
    border: none;
    z-index: 1;
}

.btn-2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-2:hover {
    color: #000;
}

.btn-2:hover:after {
    left: 0;
    width: 100%;
}

.btn-2:active {
    top: 2px;
}


/*Контейнер нижняя часть header*/

.header__bottom {
    margin-bottom: 78px;

}

.menu-categories {
    background-color: #f0f0f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;


}

.menu-categories__item {
    position: relative;

}

.menu-categories__link {
    transition: all .3s;
    font-weight: 400;
    padding: 15px 0 14px;
    position: absolute;
    transform: translate(-50%, -50%);

}

.menu-categories__link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1c62cd;
    height: 3px;
    bottom: -2px;
    transition: all .3s;


}

.menu-categories__link:hover {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    color: rgb(12, 12, 238);
    border-bottom: 3px solid #1c62cd;
}

.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

a:hover {
    color: rgb(55, 4, 242);
}

/**/

/*правая часть пошук*/
.site_content {
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: white;
}

.sidebar_container {
    float: right;
    ;
    width: 224px;
}

.sidebar {
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.sidebar h2 {
    color: #136cb2;
}

.lables_passreg_text {
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}

.sidebar ul {
    margin: 0;
}


/*правая часть */
/*текст вхід*/
.main,
.logo,
.menubar,
.site_content,
.footer {
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
i nput[type="password"],
input[type="search"] {
    color: #272826;
    font-style: italic;
    background: #E0EFCA;
}

input,
textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
}

input:-moz-placeholder {
    color: #B6C0A5;
    font-style: italic;
    background: #E0EFCA;
}


.btn {
    padding: 4px;
    background-color: white;
    cursor: pointer;
}

.sidebar .rating_sidebar {
    float: right;
}

.sidebar ul li {
    list-style-type: none;
    margin: 0 0 0 0;
}

.lables_passreg_text {
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}

/*рейтинг фільмів*/
h1,
h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: rgb(87, 84, 84);
}

h2 {
    font-size: 140%;
}

a,
a:hover {
    outline: none;
    color: #0f1010d9;

}

.content {
    text-align: left;
    width: 1120px;
    padding: 0 0 0 5px;
    float: left;
}

.content a {
    text-decoration: none;
}

.films_block {
    margin-bottom: 5%;
}

.films_block img {
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}

.posts .posts_content {
    font-size: 0.8em;
}

* Страница просмотра фильма */ .info_film_page {
    margin-top: 2%;
    margin-bottom: 4%;
}

.info_film_page .label {
    font-size: 1.2em;
}

.info_film_page .value {
    font-size: 1em;
    color: #49945A;
    margin-right: 3%;
}

.descriptions_film {
    margin-bottom: 15%;
}

.descriptions_film img {
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
}

.reviews {
    margin-bottom: 4%;
    font-size: 0.9em;
}

.reviews .review_name {
    background-color: #7268AD;
    color: white;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reviews .review_text {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.send {
    margin-bottom: 4%;
}

.send input[type="text"],
textarea {
    border: solid 1px #C3C3C3;
    margin-bottom: 2%;
}

.send input[type="text"] {
    width: 98%;
}

.send textarea {
    width: 624px;
    height: 200px;
}

.send input[type="submit"] {
    background-color: #7268AD;
    padding: 3%;
    color: white;
    border-radius: 5px;
}



.send_contact input[type="text"] {
    width: 500px;
}

.send_contact textarea {
    width: 516px;
}



.info_film {
    margin-bottom: 5%;
    background-color: #f9f9f9;
    padding: 5%;
    height: 270px;
}

.info_film img {
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 25%;
}

.button {
    background-color: #7268ad;
    padding: 2%;
    color: white;
    border-radius: 5px;
    float: right;
    margin-top: 5%;
    clear: both;
    font-size: 0.8em;
}

.button a {
    color: white;
}


table {
    width: 100%;
    border: solid 1px #f4f4f4;
}

td {
    padding: 2%;
    border: solid 1px #f4f4f4;
}

td img {
    width: 60px;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.rating {
    font-weight: bold;
}

.img-in {
    border: solid 5px #dad7d5;


}

.posts_content {
    color: rgb(29, 26, 38);
}

.posts {
    color: rgb(29, 26, 38);
}

.content_nov {
    color: rgb(39, 41, 68);
}

/*footer*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    /*обнуление отступов*/
    padding: 0;
    /*обнуление полей*/
    box-sizing: border-box;
    /*метод расчета размеров бокса*/
    font-family: 'Poppins', sans-serif;
    /*название шрифта*/
}

/*футер*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    /*обнуление отступов*/
    padding: 0;
    /*обнуление полей*/
    box-sizing: border-box;
    /*метод расчета размеров бокса*/
    font-family: 'Poppins', sans-serif;
    /*название шрифта*/
}


footer {
    position: relative;
    /*относительное позиционирование*/
    width: 100%;
    /*на всю ширину*/
    padding: 20px 50px;
    /*поля для контента*/
    background: black;
    /*цвет футера*/
    display: flex;
    justify-content: center;
    /*в центре по горизонтали*/
    align-items: center;
    /*в центре по вертикали*/
    flex-direction: column;
    margin-top: 100px;
    /*отступ сверху*/
    border-radius: 5px;
}

footer .wave {
    position: absolute;
    /*абсолютное позиционирование*/
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    /*картинка волны*/
    background-size: 1000px 100px;
    /*ширина и высота волны*/
}

.social,
.menu2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    /*разрешен перенос на новую строку*/
}

.social li,
.menu2 li {
    list-style: none;
    /*удалить черные маркеры*/
}

.social li a {
    font-size: 2em;
    /*размер иконок*/
    color: #fff;
    /*цвет иконок*/
    margin: 0 10px;
    display: inline-block;
    /*отображать как строчно-блочный элемент*/
    transition: 0.5s;
    /*плавный переход*/
}

.menu2 li a {
    font-size: 1.2em;
    /*размер ссылок меню*/
    color: #fff;
    /*цвет ссылок меню*/
    opacity: 0.75;
    /*значение прозрачности*/
    margin: 0 15px;
    text-decoration: none;
    /*ссылка без подчеркивания*/
    display: inline-block;
}

.menu2 li a:hover {
    opacity: 1;
    color: blue;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}